@model HTMLSatanizer.ViewModels.FileInputModel
@{
    ViewData["Title"] = "HTML From File";
}

<h1 class="display-4 text-center">@(ViewData["Title"])</h1>

<div class="text-left">
    <form method="post" asp-controller="HTML" asp-action="File" enctype="multipart/form-data">
        <div class="form-group">
            <div asp-validation-summary="All" class="col-form-label text-danger list-unstyled"></div>
            <label asp-for="File" for="formFile" class="col-form-label"></label>
            <input asp-for="File" id="formFile">
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
    @{
        if (Context.Request.Method == "POST")
        {
            <div>
                <form method="get" asp-controller="HTML" asp-action="File" onchange="checkExtension(this.value," upload");">
                    <label class="col-form-label">@Model.FileName</label>
                    <textarea asp-for="SatanizedHTML" readonly class="form-control"></textarea>
                </form>
            </div>
        }
    }
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}