@model HTMLSatanizer.ViewModels.RawHTMLInputModel
@{
    ViewData["Title"] = "HTML From Raw HTML";
    string notVisualizedTags = "<applet>, <object>, <audio>, <basefont>, <bdo>, <body>, <caption>, <col>, <colgroup>, <dialog>, <frame>, <frameset>, <head>, <hgroup>, <html>, <meta>, <noframes>, <noscript>, <object>, <param>, <picture>, <script>, <source>, <style>, <svg>, <tbody>, <td>, <template>, <tfoot>	, <th>, <thead>, <title>, <track>, <video>";
}

<div class="text-center">
    <h1 class="display-4">@(ViewData["Title"]+" Input")</h1>
    <form method="post" asp-controller="HTML" asp-action="RawHTML">
        <div class="form-group">

            <label asp-for="HTML" class="col-form-label"></label>
            <textarea asp-for="HTML" class="form-control"></textarea>
            <span asp-validation-for="HTML" class="col-form-label text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
    <div>
        <h2 class="text-danger">Important notes: The following tags will be displayed as blank space</h2>
        <p>@notVisualizedTags</p>
    </div>
    @{
        if (Context.Request.Method == "POST")
        {
            <div>
                <form method="get" asp-controller="HTML" asp-action="RawHTML">

                    <textarea asp-for="SatanizedHTML" readonly class="form-control"></textarea>

                </form>
            </div>
        }
    }
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}