@model HTMLSatanizer.ViewModels.SiteInputModel
@{
    ViewData["Title"] = "HTML From URL";
}

<div class="text-center">
    <h1 class="display-4">@(ViewData["Title"]+" Address")</h1>
    <form method="post" asp-controller="HTML" asp-action="URL">
        <div class="form-group">

            <label asp-for="URL" class="col-form-label"></label>
            <input type="text" asp-for="URL" class="form-control" />
            <span asp-validation-for="URL" class="col-form-label text-danger"></span>

        </div>
        <input type="submit" class="btn btn-primary" />
        @if (Context.Request.Method == "POST")
        {
               <a asp-controller="HTML" asp-action="All" class="btn btn-info ml-2">Check all entries</a>
        }
    </form>

    @{
        if (Context.Request.Method == "POST")
        {
            <div class="mt-3">
                <form method="get" asp-controller="HTML" asp-action="URL">

                    <textarea asp-for="SatanizedHTML" readonly class="form-control"></textarea>

                </form>
            </div>
        }
    }
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}