/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*pallete https://coolors.co/gradient-palette/ff0000-000000?number=7 */
:root {
    --primary-color: #D50000;
    /* var(--primary-color) */

    --secondary-color: #AA0000;
    /*var(--secondary-color) */

    --dark-color: #800000;
    /*var(--dark-color) */

    --darker-color: #3d0c0c;
    /*var(--dark-color) */

    --darkest-color: #2B0000;
    /*var(--darkest-color) */
}

h1, h2, h3, h4 {
    color: #aaa4a4;
}

border {
    color: #aaa4a4;
}

label {
    color: #aaa4a4;
}

input {
    color: #585757;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: var(--secondary-color);
}

    a:hover {
        color: var(--primary-color);
        transition: 0.2s ease-out;
    }

input[type=search] {
    border-color: var(--darkest-color);
}

.btn-primary, .btn-outline-primary {
    color: #c6bfbf;
    background-color: var(--dark-color) !important;
    border-color: var(--darkest-color);
}

    .btn-primary:hover, .btn-outline-primary:hover {
        color: #280505;
        background-color: var(--dark-color);
        border-color: var(--darkest-color);
        transition: 0.2s ease-out;
    }




.btn-warning {
    color: #d5aa02;
    background-color: var(--dark-color) !important;
    border-color: var(--darkest-color);
}

    .btn-warning:hover {
        color: var(--darkest-color);
        background-color: var(--dark-color);
        border-color: var(--darkest-color);
        transition: 0.2s ease-out;
    }

.btn-info {
    color: var(--secondary-color);
    background-color: #d5aa02 !important;
    border-color: var(--darkest-color);
}

    .btn-info:hover {
        color: var(--dark-color);
        border-color: var(--darkest-color);
        transition: 0.2s ease-out;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--secondary-color);
    background-color: var(--dark-color);
    border-color: var(--darkest-color);
}

.navbar {
    background-color: var(--darker-color);
}

.navbar-brand {
    color: #d5aa02;
}

    .navbar-brand:hover {
        color: var(--primary-color);
    }

.pagination > .active > a {
    background-color: #d5aa02 !important;
    border: solid 1px #d5aa02 !important;
}

.pagination > li > a {
    background-color: white;
    color: var(--dark-color) !important;
}

/*Removing the glowing effect*/
*:hover,
*:focus,
*:active {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

.border-bottom, .border-top {
    border-color: var(--dark-color) !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid var(--darkest-color);
}

.border-bottom {
    border-bottom: 1px solid #000;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--darker-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
form textarea {
    resize: none;
    min-height: 60vh;
}

#text-area-input {
    resize: vertical;
    min-height: 100px;
}


/*Mobile navbar*/

.navbar-toggler {
    padding: .75rem .75rem
}


/* Icon 1 */
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon1 span {
        background: var(--secondary-color);
    }

    .animated-icon2 span {
        background: var(--secondary-color);
    }

    .animated-icon3 span {
        background: var(--secondary-color);
    }

    .animated-icon1 span:nth-child(1) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    /* Icon 3*/

    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
        top: 10px;
    }

    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }

    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    /* Icon 4 */

    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

.hero {
    height: 100vh;
}

    .hero h1 {
        font-size: 6em;
    }

.slogan h1 {
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 4em;
    color: #000;
}

    .slogan h1 img {
        padding-bottom: 50px;
    }

.important-notes {
    color: #d5aa02;
}


.not-visualized-tags {
    color: #aaa4a4;
}
