@model int

@{
    ViewData["Title"] = $"Error: {Model}";
}

@if (Model == 404)
{
    <h1 class="text-danger text-center">404 Not Found! Muhahaha</h1>
}
else if (Model == 400)
{
    <h1 class="text-danger text-center">You are naughty boy, aren't ya ?!</h1>
    <h2 class="text-danger text-center">Status code: 400</h2>
}
else
{
    <h1 class="text-danger text-center">Error ocurred! Status code: @Model</h1>
}

<div class="text-center mt-3 mb-3">
    <img style="width:50%" src="~/imgs/404devil.jpg" alt="404devil">

</div>
<h3 class="text-center">Feel free to return to the safe ground!</h3>
<div class="text-center mt-3">
    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Safe ground!</a>
</div>

